<!DOCTYPE html>
<html>
<head>
<title>CQ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
*{
	box-sizing: border-box;
}
#pmain{
	position: fixed;
	left:0px;
	right:0;
	top:60px;
	bottom:0;
	margin: auto;
	overflow: auto;
}
#table1{
	border:5px solid rgba(0,0,0,0.1);
	position: relative;
	background-color: #fff;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	margin-top: 40px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
    line-height: 1.1;
	margin-top:40px;
}
#h1{
	font-size: 36px;
	margin: 35px 0px 0px;
}
#button1,#button2{
	height: 30px;
	border-radius: 8px;
	background-color: black;
	color: white;
	border:0;
	font-size:15px;
}
.infox{
	display: block;
	height: 34px;
	width: 100%;
	outline: 0;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;	
	color: black;
	padding: 6px 12px;
	font-size: 14px;
}
#input1{
	border: 0;
	padding: 9px 12px;
	background-color: #5cb85c;
	color: white;
	font-size: 14px;
}
</style>
</head>
<body>
<% if(role=='Superadmin'){ %>
<% include partials/navbar %>
<% } %>
<% if(role=='Admin'){ %>
<% include partials/navbar0 %>
<% } %><% if(role=='UAdmin'||role=='USuperadmin'){ %>
<% include partials/navbar1 %>
<% } %><% if(role=='User'||role=='Community Builder'){ %>
<% include partials/navbar2 %>
<% } %>
<div id="pmain">
<form onsubmit="subForm()">
<div bgcolor="white" id="table1" class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-5">
<div style="margin:20px 0px 10px;"><p id="h1">Change Password</p></div>
<div style="margin-bottom:15px;">
<p style="font-weight:bold;font-size:14px;margin-top:14px;margin-bottom:5px;">Old Password:</p>
<input class='infox' type='password' required>
<br>
</div>
<div style="margin-bottom:15px;">
<p style="font-weight:bold;font-size:14px;margin-top:14px;margin-bottom:5px;">New Password:</p>
<input class='infox' type='passowrd' required>
<br>
</div>
<div>
<input id='input1' type='submit' value='Submit'>
</div>
<br>
</div>
</form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
document.getElementsByClassName('fa-lock')[0].parentElement.parentElement.classList.add('active');
document.getElementsByClassName('fa-lock')[0].classList.add('act');
var input1 = document.getElementById('input1');
var info = document.getElementsByClassName('infox');
function subForm()
{
	event.preventDefault();
	var request=new XMLHttpRequest();
	request.open("PUT","/changePass");
	request.setRequestHeader("Content-Type", "application/json");
	request.send(JSON.stringify({'oldPassword': info[0].value , 'newPassword': info[1].value}));
	request.onload=function(){
		info[0].value="";
		info[1].value="";
		var res=JSON.parse(request.responseText);
		if(res.length==0)
		{
			document.getElementById("alert1Center").innerHTML="Old Password to be changed is incorrect";
			document.getElementById("alert1").style.height="60px";
			document.getElementById("alert1").style.padding="20px";
			setTimeout(function(){
			document.getElementById("alert1").style.height="0px";
			document.getElementById("alert1").style.padding="0px";
			},2000);
		}
		else
		{
			document.getElementById("alert2Center").innerHTML="Password Updated";
			document.getElementById("alert2").style.height="60px";
			document.getElementById("alert2").style.padding="20px";
			setTimeout(function(){
			document.getElementById("alert2").style.height="0px";
			document.getElementById("alert2").style.padding="0px";
			},2000);
            location.href="/";
		}
	}
}
</script>
</html>